html, body {
  margin: 0;
  padding: 0;
  background-color: #02030a;
  height: 100%;
}

/* Blueprint tarzı grid */
body {
  background-image:
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}

#map {
  width: 100vw;
  height: 100vh;
  background: transparent;
}
